<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Work Track</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/worker-css/worker.css}">
</head>
<body data-vide-bg="/video/worker-vid.mp4">
    <div class="login-form">
        <h2 th:text="|SIGN IN|"></h2>
        <div class="form-input">
            <input type="text" name="" placeholder="Email">
        </div>
        <div class="form-input">
            <input type="password" name="" placeholder="Password">
        </div>
        <div class="form-input">
            <input th:type="submit" name="" placeholder="Login">
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.vide.js}"></script>
</body>
</html>